
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
body{
    margin: 0;
    color: black;
    background-color: #e3e2e2;
    font-family: sans-serif;
    
}
h1{
    font-family: 'Roboto Slab', serif;
}
.container{
    width: 80%;
    margin: auto;
}
#my-nav{
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0;
    background-color: #24262b;   
    width: 100%;
}
*{
    padding: 0;
}
#my-nav label{
    color: white;
    font-weight: bold;
    font-size: 40px;
    padding-left: 10%;
}

#my-nav ul{
    padding-right: 10%;
    list-style: none;
    float: right;
}

#my-nav li{
    
    display: inline;
}

#my-nav a{
    font-size: 20px;
    padding-right: 25px;
    color: white;
    text-decoration: none;
}
#my-nav a:hover{
    font-size: 20px;
    padding-right: 25px;
    color: rgb(246, 11, 11);
    text-decoration: none;
}
#mainImage{
    
    filter: drop-shadow(20px 15px 10px rgb(78, 75, 75));
}
#aboutme_sec {
    padding-top: 70px;
}

.image_list{
    list-style: none;
    padding-left: 0px;
    padding-bottom: 0;
   
}
.image_list img{
    border-radius: 20px;
    filter: drop-shadow(20px 15px 10px rgb(78, 75, 75));
}
.image_list li{
    padding-left: 30px;
    list-style: none;
    display: inline;
   
}
.general_buttons{
    filter: drop-shadow(8px 8px 10px rgb(78, 75, 75));
    border: none;
    font-size: 30px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
  
}
.auto_two_class{
    filter: drop-shadow(8px 8px 10px rgb(78, 75, 75));
    border: none;
    width: 100px;
    height: 50px;
    border-radius: 20px;
}
.auto_two_class:hover{
    font-size: 20px;
    width: 120px;
    height: 60px;
    background-color: rgb(155, 154, 154);
   
}
.general_buttons:hover{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: rgb(188, 187, 187);
}

#image_index{
    font-size: 30px;    
}
#imageindex_container{
    background-color: #c5c4c4;
    text-align: center;
    width: 50px;
    height: 40px;
    border-radius: 20px;
    padding-top: 10px;
    border-style: none;
   
}


img:hover{

    opacity: .4;
}
.listone li{
    list-style: none;
    float: left;
    padding-right: 20px;

}


.listone{
    background-color: #cdd0d8;
    border-style: none;
    padding-left: 320px;
    padding-top: 20px;
    padding-bottom: 80px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

#imagelength_container{
    background-color: #c5c4c4;
    text-align: center;
    width: 220px;
    height: 40px;
    border-radius: 20px;
    padding-top: 20px;
    border-style: none ;
}
.phone_images img{
    padding-left: 70px;
}
#contact_footer{
    background-color: #24262b;
}
.footer_container{

    max-width: 1170px;
   
    margin: auto;
}
ul{
    list-style: none;
}
.footer_row{
    display: flex;
    flex-wrap: wrap;
}
.footer_col{
    width: 25%;
    padding: 0 15px;
}
.footer_col h4{
  
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: 500;
    position: relative;
    
}
.footer_col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91263;
    height: 2px;
    box-sizing: border-box;
    width: 70px;
}
.footer_col ul li:not(:last-child){
    margin-bottom: 10px;
}

.footer_col ul li a{
  
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;    
}
.footer_col ul li a:hover{
    color: #ffffff;
    padding-left: 10px;
}
.footer_col .social_midea_links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}

.footer_col .social_midea_links a:hover{
    color: #24262b;
    background-color: #ffffff;
}
.sized_box{
    height: 90px;
}